# --- Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# --- Backend 
[Bb]in/
[Oo]bj/
.vs/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.db
*.log
*.tmp
*.csproj.user

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs